body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('../assets/backgroundController.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
    user-select: none;
}

button {
    margin: 15px;
    border: none;
    border-radius: 10px;
    background-color: #61dafb;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: rgba(33, 161, 241, 0.8);
    transform: scale(1.05);
}

button:active {
    background-color: rgba(27, 140, 216, 0.8);
    transform: scale(0.95);
}

#nameInputSection, #menuScreen, #readySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#nameInput {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 2px solid #61dafb;
    border-radius: 5px;
    outline: none;
    width: 100%;
    max-width: 300px;
    background-color: #333;
    color: #fff;
}

#readyBtn {
    width: 200px;
    height: 50px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgba(76, 175, 80, 0.8);
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#ready:hover {
    background-color: rgba(69, 160, 73, 0.8);
}

.optionBtn {
    width: 100%;
    height: 70px;
    max-width: 600px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#option1 {
    background-image: url('../assets/gameMode1.png');
}

#option2 {
    background-image: url('../assets/gameMode2.png');
}

#option3 {
    background-image: url('../assets/gameMode3.png');
}

.optionBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#controlSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100px;
}

#leftBtn, #rightBtn {
    padding: 50px 80px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#leftBtn:hover, #rightBtn:hover {
    background-color: #0056b3;
}

#sendNameBtn {
    width: 200px;
    height: 50px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#sendNameBtn:hover {
    background-color: #45a049;
}

/* Media query for smaller screens e.g., mobile devices */
@media (max-width: 768px) {
    #nameInput {
        width: 90%;
        font-size: 18px;
    }

    .optionBtn {
        max-width: 90%;
    }

    #leftBtn, #rightBtn {
        width: 80px;
        height: 80px;
        font-size: 20px;
    }

    #sendNameBtn {
        width: 180px;
        height: 45px;
        font-size: 16px;
    }
}